<div class="container my-5">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">Update user data</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-10">

            <div class="form-control-mine">
                <input [(ngModel)]='user.name' required type="text" class="form-control" name="name" id="name" placeholder="">
                <label for="name" class="p-1 bg-white ml-2">Name</label>
                <div class="border-around"></div>
            </div>

            <div class="form-control-mine mt-4">
                <input [(ngModel)]='user.username' required type="text" class="form-control" name="username" id="username" placeholder="">
                <label for="username" class="p-1 bg-white ml-2">Username</label>
                <div class="border-around"></div>
            </div>

            <div class="form-control-mine mt-4">
                <input [(ngModel)]='user.picture' required type="text" class="form-control" name="profile-picture" id="profile-picture" placeholder="">
                <label for="profile-picture" class="p-1 bg-white ml-2">Profile picture URL</label>
                <div class="border-around"></div>
            </div>

            <div class="form-control-mine mt-4">
                <input (input)='confirmPassword($event)' required type="password" class="form-control" name="password" id="password" placeholder="">
                <label for="password" class="p-1 bg-white ml-2">Password</label>
                <div class="border-around"></div>
            </div>

            <div class="form-control-mine mt-4">
                <input [(ngModel)]='user.password' required type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="">
                <label for="confirmPassword" class="p-1 bg-white ml-2">Confirm password</label>
                <div class="border-around"></div>
            </div>

            <div *ngIf='auth.adminUser()' class="form-group mt-4">
                <label for="userType">User type</label>
                <select (change)='typeUser($event)' name="userType" id="userType" class="form-control">
                    <option>Select a user type:</option>
                    <option value="userOnly">User only</option>
                    <option value="Admin">Admin user</option>
                </select>
            </div>

            <div class="d-flex justify-content-center mt-5">
                <button type="submit" class="btn btn-danger mr-4" routerLink='/home'>Cancel</button>
                <button type="submit" class="btn btn-success" (click)='updateUser()'>Update User</button>
            </div>
        </div>

    </div>

</div>