#img-bg {
    background-image: url('../../assets/img/login-bg.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#login-button {
    background-color: rgba(153, 153, 153, 0.884);
    border: #151515ef 1px solid;
    transition: background-color 0.5s;
}

#login-button:hover {
    background-color: rgba(218, 218, 218, 0.767);
}