<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1 class="text-center mb-3">Login</h1>

                    <div class="form-control-mine">
                        <input [(ngModel)]='userLogin.username' class="" required type="text" name="username" id="username">
                        <label class="p-1 bg-white ml-2">Username</label>
                        <div class="border-around"></div>
                    </div>

                    <div class="form-control-mine mt-4">
                        <input [(ngModel)]='userLogin.password' required type="password" class="form-control" name="password" id="password" placeholder="">
                        <label class="p-1 bg-white ml-2" for="password">Password</label>
                        <div class="border-around"></div>
                    </div>

                    <div class="d-flex justify-content-center mt-4">
                        <button class="btn btn-success" type="submit" (click)='login()'>
                            Login
                        </button>
                    </div>

                    <hr class="mt-5 mb-5">

                    <p class="text-center">
                        You don't have an account? <a routerLink='/signup'>Sign Up</a>
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-6" id="img-bg">

        </div>
    </div>
</div>