<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item active">
        <img src="{{picture}}" alt="User profile image" class="img-fluid rounded-circle menu-img">
      </li>
      <li class="nav-item pl-3">
        <p class="m-0 font-weight-bold text-white fs-16">Hello, {{name}}</p>
      </li>
      <li class="nav-item pl-3">
        <a [routerLink]="['/user-edit', id]">
            <p class="text-white fs-16 m-0"><i class="fas fa-edit"></i></p>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
            <a class="m-0 font-weight-bold text-white fs-16" (click)="exit()">Exit  <i class="fas fa-sign-out-alt"></i></a>
        </li>
    </ul>
  </div>
</nav>