<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="img-bg">

        </div>

        <div class="col-md-6 mt-5 mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <h1 class="text-center">Sign Up</h1>

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Insert your name">
                    </div>

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Insert your username">
                    </div>

                    <div class="form-group">
                        <label for="profile-picture">Profile picture URL</label>
                        <input type="text" class="form-control" name="profile-picture" id="profile-picture" placeholder="Insert your profile picture URL">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Insert your password">
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">Confirm password</label>
                        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirm your password">
                    </div>

                    <div class="form-group">
                        <label for="userType">User type</label>
                        <select name="userType" id="userType" class="form-control">
                            <option>Select a user type:</option>
                            <option value="userOnly">User only</option>
                            <option value="Admin">Admin user</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger mr-4">Cancel</button>
                        <button type="submit" class="btn btn-success">Sign Up</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>